# build
dist/
.astro/

# dependencies
node_modules/

# environnement
.env
.env.production
.env.*.local

# logs & système
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# éditeurs
.vscode/*
!.vscode/extensions.json
.idea/
